<div class="about">
	<div class="about__image">
		<img src="imgs/nick_barth.jpg">
		</img>
	</div>
	<div class="about__text">
		Hi, I'm Nick Barth, and I've got a lot of really interesting, inspirational, and overall cool friends and acquaintences.
		I'm based in Brussels, Belgium, currently, but my guests will be from around the world.
		I have several goals with Dumbest in the Room, mainly getting laid.  My ancillary objectives are to have fun, get to know people, their hobbies and interests, and to improve my speaking voice, diction, vocabulary, and to stop saying ummmm.
	</div>
</div>
