<div class="episode">
	<div class="episode__src-container">
		<img class="episode__src" src="episodes/nick-barth.jpg">
		<div class="episode__number">
			#{{ episode_number }}
		</div>
	</div>
    <div class="episode__content-container">
		<div class="episode__title">
			<span class="episode__random-color">
				{{ title }}
			</span>
		</div>
		<div class="episode__guest">
			w/ <span class="episode__random-color">
				{{ guest }}
			</span>
		</div>
		<div class="episode__date">
			{{ created_at }}
		</div>
		<div class="episode__src">
			<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310829780&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp"></iframe>
		</div>
	</div>
</div>
