<div class="header">
	<a href="/">
		<img class="header__logo" src="/logo.svg">
	</a>
</div>

<div class="header__schpeil">
	<div class="header__schpeil-info">
		A breadth-first attempt at learning, discovering, and connecting with people.
		Each episode we will talk with one of my friends (slash) acquaintances about a topic they are knowledgeable, or interested in.
	</div>
	<div class="header__schpeil-subscribe">
		<div class="header__schpeil-subscribe-header">
			<span> Subscribe </span>
		</div>
		<div class="header__schpeil-subscribe-text">
			Want to be on the cutting edge of bored and narcassistic millenial podcasts? Follow us on <a href="https://www.facebook.com/Dumbest-in-the-Room-121938231661703/"> facebook </a>, or <a href="https://twitter.com/dumbestinroom"> twitter </a>.  Subscribe via <a href="#">iTunes</a> or <a href="#">RSS</a>.
		</div>
	</div>
</div>
