<div class="header">
	<img class="header__logo" src="logo.svg">
</div>

<div class="header__schpeil">
	<div class="header__schpeil-info">
		A breadth-first attempt at learning, discovering, and connecting with people.
		In each episode, we will talk with one of my friends (slash) aquaintances about a topic they are knowledgable, or interested in.
	</div>
	<div class="header__schpeil-subscribe">
		<div class="header__schpeil-subscribe-header">
			<span> Subscribe </span>
		</div>
		<div class="header__schpeil-subscribe-text">
			Want to be on the cutting edge of bored and narcassistic millenial podcasts?  Subscribe via <a href="#">iTunes</a> or <a href="#">RSS</a>.
		</div>
	</div>
</div>
