<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>

    <title>Dumbest in the Room | {{ episode.title }} </title>
    <meta name="description" content="A podcast for a bit of everything" />

    <meta name="author" content="Nick Barth" />

    <meta charset='UTF-8'>
    <meta name='keywords' content='learning, travel, storytelling, talking, interesting, hobbies, fun, friends, curious, millenial'>
    <meta name='description' content='A breadth-first attempt at learning, discovering, and connecting with people. In each episode, we will talk with one of my friends (slash) aquaintances about a topic they are knowledgable, or interested in.'>
    <meta name='language' content='ES'>
    <meta name='topic' content=''>
    <meta name='summary' content=''>
    <meta name='Classification' content='Podcast'>
    <meta name='author' content='Nick Barth, barth.nicholas@gmail.com'>
    <meta name='reply-to' content='dumbestintheroom@gmail.com'>
    <meta name='owner' content=''>
    <meta name='url' content='http://www.dumbestintheroom.com/'>
    <meta name='identifier-URL' content='http://www.dumbestintheroom.com/'>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='subtitle' content='Bored and Millenial'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type='image/x-icon' href="../favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Dumbest in the Room" />
	<meta property="og:description"   content="A podcast for breadth first learning" />
	<meta property="og:image"         content="" />
	<meta property="og:image:width"   content="600" />
	<meta property="og:image:height"  content="315" />
	<meta property="og:site_name"     content="Dumbest in the Room" />

	<meta name="twitter:card"        content="summary">
	<meta name="twitter:site"        content="@dumbestintheroom" />
	<meta name="twitter:title"       content="dumbestintheroom">
	<meta name="twitter:description" content="A podcast for breadth first learning">
	<meta name="twitter:image:src"   content="">

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/normalize.css">

	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/app.js"></script>

</head>
<body>

	{{> header }}

	{{> episode }}

</body>
</html>
