<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8"/>

    <title>Dumbest in the Room</title>
    <meta name="description" content="A podcast for a bit of everything" />

    <meta name="author" content="Nick Barth" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type='image/x-icon' href="/assets/1.0.0/files/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Dumbest in the Room" />
	<meta property="og:description"   content="A podcast for breadth first learning" />
	<meta property="og:image"         content="" />
	<meta property="og:image:width"   content="600" />
	<meta property="og:image:height"  content="315" />
	<meta property="og:site_name"     content="Dumbest in the Room" />

	<meta name="twitter:card"        content="summary">
	<meta name="twitter:site"        content="@dumbestintheroom" />
	<meta name="twitter:title"       content="dumbestintheroom">
	<meta name="twitter:description" content="A podcast for breadth first learning">
	<meta name="twitter:image:src"   content="">

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/episode.css">

</head>
<body>

	{{#each episodes}}
	    {{> episode }}
	{{/each}}

</body>
</html>
