@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-Bold.eot');
	src:url('/fonts/Darwin-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-Bold.woff') format('woff'),
		url('/fonts/Darwin-Bold.ttf') format('truetype');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-Regular.eot');
	src:url('/fonts/Darwin-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-Regular.woff') format('woff'),
		url('/fonts/Darwin-Regular.ttf') format('truetype');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-ExtraLight.eot');
	src:url('/fonts/Darwin-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-ExtraLight.woff') format('woff'),
		url('/fonts/Darwin-ExtraLight.ttf') format('truetype');
	font-weight:200;
	font-style:normal;
}

body {
	font-family: 'Darwin';
	color: #003333;
	margin:0;

	background-color:#00C8D3;
}

a {
	color:#003333;
	font-weight:500;
	text-decoration: underline;
}


/*****
HEADER
******/

.header {
	width:100%;
	text-align:center;
}

.header__logo {
	max-width:32rem;
}

.header__schpeil {
	display:block;
	max-width:68rem;
	margin:auto;
	text-align:center;
	border-bottom:1px solid #003333;
}

.header__schpeil-subscribe-header:after {
	content:'';
	background: #003333;
    height: 1px;
    position: absolute;
    top: .45em;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__schpeil-subscribe-header {
	position:relative;
	text-align:center;
	padding-bottom: 0.75rem;
}

.header__schpeil-subscribe-header span {
	background: #00C8D3;
    font-weight: inherit;
    padding: 0 .5em;
    position: relative;
    z-index: 10;
	font-weight:500;
}

.header__schpeil-info {
	padding:2rem;
	font-size: 1.3rem;
	font-weight:300;
	align-self: center;
	display:none;
}

.header__schpeil-subscribe {
	padding:2rem;
	font-weight:200;
}

/*******
EPISODES
********/

.episodes {
	margin: auto;
	max-width:68rem;
}

.episode {
	position:relative;
	margin: 2rem;
	display:block;
}

.episode:nth-child(1) {
	flex-direction: row-reverse;
}

.episode__img-container{
	width:100%;
	position:relative;
	border: 4px solid #fff;
	margin-bottom:2rem;
}

.episode__img-container:before {
	display: block;
	content: "";
	padding-top: 124%;
}

.episode__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.episode__number {
	display:none;
	position: absolute;
	bottom: -3rem;
	right: 1rem;
	font-size:12rem;
	color:#fff;
}

.episode__container {
	width: 100%;
}

.episode__content-container {
	text-align:center;
	position:relative;

}

.episode__guest {
	font-size:1.9rem;
}

.episode__guest-text {
	background: #00C8D3;
	font-weight: inherit;
	padding: 0 .5em;
	position: relative;
	z-index: 10;
	font-weight: 500;
}

.episode__guest::before {
	content: '';
	background: #003333;
	height: 1px;
	position: absolute;
	top: .45em;
	left: 0;
	right: 0;
	z-index: 1;
}

.episode__quote {
	font-size:2.5rem;
	color:#fff;
	padding-top:1rem;
	padding-bottom:1rem;
}

.episode__description {
	font-size:1.5rem;
	margin-bottom: 3rem;
}

.episode__link {
	text-decoration: none;
}

.episode__button {
	text-decoration:none;
	font-size:2.2rem;
	padding:1rem;
	border:2px solid #003333;
	transition: all 0.3s ease;
}

.episode__button:hover {
	color:#00C8D3;
	background-color: #003333;
}

/*****
PLAYER
******/

.player {
	max-width: 68rem;
	padding: 2rem;
	margin:auto;
}

.player__src {
	margin:auto;
	margin-top: -8rem;
}

.player__number {
	font-size:5rem;
	display:inline-block;
	margin-left:3rem;
}

.player__details {
	color: #00C8D3;
	background-color: #003333;
	display: inline-block;
	padding: 3rem;
	height: 12rem;
}

.player__date {
	font-size:1.2rem;
	opacity:.7;
	font-weight:300;
}

.player__title {
	font-size:1.5rem;
}

.player__name {
	padding-bottom:2rem;
}


@media screen and (min-width: 20em) {

}

/* Flexbox styles */
@media screen and (min-width: 40em) {
  .header__schpeil {
	  display:flex;
	  text-align:left;
  }

  .header__schpeil-info {
	  width:66%;
  }
  .header__schpeil-subscribe {
	  width:33%;
  }

  .player__details {
	  margin-left:7rem;
	  height: 15rem;
  }

  .player__src {
  	margin:auto;
  	margin-top: -12rem;
  }


} /* mq 40em*/



@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
	.header__schpeil-info {
		display:block;
	}
	
	.episode {
		position:relative;
		margin: 5rem;
		display:flex;
	}

	.episode__content-container {
		margin: 2rem;
	}

	.episode__img-container {
		margin-bottom:0;
	}

	.episode__number {
		display:block;
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
