@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-Bold.eot');
	src:url('/fonts/Darwin-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-Bold.woff') format('woff'),
		url('/fonts/Darwin-Bold.ttf') format('truetype');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-Regular.eot');
	src:url('/fonts/Darwin-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-Regular.woff') format('woff'),
		url('/fonts/Darwin-Regular.ttf') format('truetype');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-ExtraLight.eot');
	src:url('/fonts/Darwin-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-ExtraLight.woff') format('woff'),
		url('/fonts/Darwin-ExtraLight.ttf') format('truetype');
	font-weight:200;
	font-style:normal;
}

body {
	font-family: 'Darwin';
	color: #003333;
	margin:0;

	background-color:#00C8D3;
}


/*****
HEADER
******/

.header {
	width:100%;
	text-align:center;
}

.header__logo {
	max-width:38rem;
}

/*******
EPISODES
********/

.episodes {
	max-width:38rem;
	margin: auto;
}

.episode {
	max-width:38rem;
	margin-bottom: 3rem;
	font-size:0;
	position:relative;
}

.episode__src {
	max-width:40%;
	display:inline-block;
}


.episode__content-container {
	width: 60%;
	display: inline;
	font-size: 1.5rem;
	height: 100%;
	float: right;
	box-sizing: border-box;
	padding: 2rem;
	font-weight:200;
}

.episode__title {
	font-size:2.5rem;
	font-weight: 500;
}

.episode__guest {
	font-size:2rem;
	margin-bottom:.5rem;
}

.episode__date {
	font-size: 1.2rem;
	font-weight:300;
	margin-bottom: 1rem;
}

.episode__src-container {
	display: inline;
	position: relative;
	height: 100%;
}

.episode__src {
	display:inline;
}

.episode__number {
	position: absolute;
	font-size: 5rem;
	right: 0.5rem;
	top: -5rem;
	color: #fff;
}
