@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-Bold.eot');
	src:url('/fonts/Darwin-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-Bold.woff') format('woff'),
		url('/fonts/Darwin-Bold.ttf') format('truetype');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-Regular.eot');
	src:url('/fonts/Darwin-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-Regular.woff') format('woff'),
		url('/fonts/Darwin-Regular.ttf') format('truetype');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'Darwin';
	src:url('/fonts/Darwin-ExtraLight.eot');
	src:url('/fonts/Darwin-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Darwin-ExtraLight.woff') format('woff'),
		url('/fonts/Darwin-ExtraLight.ttf') format('truetype');
	font-weight:200;
	font-style:normal;
}

body {
	font-family: 'Darwin';
	color: #003333;
	margin:0;

	background-color:#00C8D3;
}

a {
	color:#003333;
	font-weight:500;
	text-decoration: underline;
}


/*****
HEADER
******/

.header {
	width:100%;
	text-align:center;
}

.header__logo {
	max-width:32rem;
}

.header__schpeil {
	display:block;
	max-width:68rem;
	margin:auto;
	text-align:center;
}

.header__schpeil-subscribe-header:after {
	content:'';
	background: #003333;
    height: 1px;
    position: absolute;
    top: .45em;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__schpeil-subscribe-header {
	position:relative;
	text-align:center;
	padding-bottom: 0.75rem;
}

.header__schpeil-subscribe-header span {
	background: #00C8D3;
    font-weight: inherit;
    padding: 0 .5em;
    position: relative;
    z-index: 10;
	font-weight:500;
}

.header__schpeil-info {
	padding:2rem;
	font-size: 1.3rem;
	font-weight:300;
}

.header__schpeil-subscribe {
	padding:2rem;
	font-weight:200;
}

/*******
EPISODES
********/

.episodes {
	margin: auto;
	max-width:68rem;
}

.episode {
	margin-bottom: 3rem;
	font-size:0;
	position:relative;
}

.episode__src {
	max-width:40%;
	display:inline-block;
}


.episode__content-container {
	font-size: 1.5rem;
	height: 100%;
	box-sizing: border-box;
	padding: 2rem;
	font-weight:200;
	text-align:center;
}

.episode__title {
	font-size:2.5rem;
	font-weight: 500;
}

.episode__guest {
	padding-bottom:1rem;
}

.episode__guest-name {
	font-size:2rem;
	margin-bottom:.5rem;
	font-weight:500;
}

.episode__date {
	font-size: 1.2rem;
	font-weight:300;
	margin-bottom: 1rem;
	padding:.5rem;
	color: #00C8D3;
	background-color: #003333;
}

.episode__src-container {
	display: inline;
	position: relative;
	height: 100%;
}

.episode__src {
	display:inline;
}

.episode__number {
	position: absolute;
	font-size: 5rem;
	right: 0.5rem;
	top: -5rem;
	color: #fff;
}


/* Flexbox styles */
@media screen and (min-width: 40em) {
  .episodes {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .episode {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }

  .header__schpeil {
	  display:flex;
	  text-align:left;
  }

  .header__schpeil-info {
	  width:66%;
  }
  .header__schpeil-subscribe {
	  width:33%;
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .episodes {
    margin-top: inherit;
  }

  .episode {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/
